@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700&family=Playfair+Display:wght@400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 共用 */
.d-none {
  display: none;
}

h1 {
  font-size: 59px;
  line-height: 70.8px;
  font-weight: 500;
  color: #c07a5c;
}

h2 {
  font-size: 60px;
  line-height: 84px;
  letter-spacing: 0.3rem;
  font-weight: 500;
  color: #312f2f;
}

h4 {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 300;
  letter-spacing: 0.6rem;
  color: #312f2f;
}

p {
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.4rem;
  color: #c07a5c;
}

.fs-sss {
  font-size: 59px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 53.1px;
    line-height: 59px;
    font-weight: 500;
    color: #c07a5c;
  }
  h2 {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 0.3rem;
    font-weight: 500;
    color: #312f2f;
  }
  h4 {
    font-size: 12.8px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.2rem;
    color: #312f2f;
  }
}

* {
  text-decoration: none;
}

body {
  font-family: 'Playfair Display', sans-serif, serif,'Noto Sans TC',   sans-serif;
  background-color: #FFF9F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 0;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    max-width: 350px;
  }
}

.logo {
  text-align: center;
  margin: 50px 0 20px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #C4C4C4;
}

.nav a {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-family: "Noto Sans TC", sans-serif;
  color: #312f2f;
  font-weight: 500;
  padding: 16px;
}

.nav a:hover {
  color: #c07a5c;
}

@media screen and (max-width: 768px) {
  .nav-s {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .nav-s > li {
    margin: 0 20px;
  }
  .nav-s .navHover {
    position: relative;
  }
  .nav-s .navHover:hover .navMenu {
    display: block;
  }
  .nav-s .navHover .navMenu {
    width: 200px;
    text-align: center;
    background-color: #c07a5c;
    padding: 5px 0;
    position: absolute;
    left: -50px;
    z-index: 500;
  }
  .nav-s .navHover .navMenu a {
    color: white;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid white;
  }
  .nav-s .navHover .navMenu a:hover {
    color: #312f2f;
  }
}

.banner {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 30px;
}

.banner .dots {
  width: 440px;
  height: 440px;
  border-radius: 50%;
  -webkit-box-shadow: 150px 30px 0 rgba(196, 196, 196, 0.8);
          box-shadow: 150px 30px 0 rgba(196, 196, 196, 0.8);
}

.banner .info {
  text-align: center;
  position: relative;
  right: 55px;
  z-index: 2;
}

.banner .info h2 {
  color: #c07a5c;
}

.banner .info p {
  margin-top: 30px;
  color: #312f2f;
}

@media screen and (max-width: 768px) {
  .banner {
    margin: 80px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .dots {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    -webkit-box-shadow: 20px 10px 0 rgba(196, 196, 196, 0.3);
            box-shadow: 20px 10px 0 rgba(196, 196, 196, 0.3);
  }
  .banner .info {
    margin: 80px 0 50px 0;
    text-align: center;
    z-index: 2;
    right: 0;
  }
  .banner .info h2 {
    color: #c07a5c;
  }
  .banner .info p {
    margin-top: 30px;
    color: #312f2f;
  }
}

@media screen and (max-width: 400px) {
  .banner {
    left: 0;
    margin: 80px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .dots {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    -webkit-box-shadow: 20px 10px 0 rgba(196, 196, 196, 0.3);
            box-shadow: 20px 10px 0 rgba(196, 196, 196, 0.3);
  }
  .banner .info {
    margin: 80px 0 50px 0;
    text-align: center;
    z-index: 2;
    right: 0;
  }
  .banner .info h2 {
    color: #c07a5c;
  }
  .banner .info p {
    margin-top: 30px;
    color: #312f2f;
  }
}

.about {
  width: 100%;
  height: 500px;
  background: -webkit-gradient(linear, right top, left top, from(#C07A5C), color-stop(64.85%, #C07A5C), color-stop(64.85%, #B7AA9C), to(#B7AA9C));
  background: linear-gradient(270deg, #C07A5C 0%, #C07A5C 64.85%, #B7AA9C 64.85%, #B7AA9C 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .pic {
  width: 360px;
  height: 360px;
  overflow: hidden;
}

.about .container .pic img {
  width: 100%;
  overflow: fit;
}

.about .container .info {
  margin-left: 40px;
}

.about .container .info h2, .about .container .info p, .about .container .info li {
  color: white;
}

.about .container .info P, .about .container .info li {
  border-left: 1px solid white;
  padding-left: 20px;
}

.about .container .info ul {
  margin-top: 20px;
}

.about .container .info ul li {
  font-size: 14px;
  line-height: 25.2px;
  font-weight: 300;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.4rem;
}

@media screen and (max-width: 400px) {
  .about {
    width: 100%;
    padding: 20px 0;
    height: 900px;
    background: -webkit-gradient(linear, right top, left top, from(#C07A5C), color-stop(50%, #C07A5C), color-stop(50%, #B7AA9C), to(#B7AA9C));
    background: linear-gradient(270deg, #C07A5C 0%, #C07A5C 50%, #B7AA9C 50%, #B7AA9C 100%);
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .pic {
    width: 360px;
    height: 360px;
    overflow: hidden;
  }
  .about .container .pic img {
    width: 100%;
    overflow: fit;
  }
  .about .container .info {
    margin: 40px 0;
  }
  .about .container .info h2 {
    margin-top: 20px;
  }
  .about .container .info h2, .about .container .info p, .about .container .info li {
    color: white;
  }
  .about .container .info P, .about .container .info li {
    border-left: 1px solid white;
    padding-left: 20px;
  }
  .about .container .info ul {
    margin-top: 20px;
  }
  .about .container .info ul li {
    font-size: 14px;
    line-height: 25.2px;
    font-weight: 300;
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 0.4rem;
  }
}

.category {
  margin: 78px 0;
}

.category .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category .title P {
  width: 100%;
  margin-left: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #C4C4C4;
  color: #312f2f;
}

.category .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0;
}

.category .main .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: calc(50% - 20px);
  height: 450px;
  overflow: hidden;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: multiply;
}

.category .main .pic:hover {
  background-color: rgba(43, 43, 43, 0.2);
}

.category .main .pic p {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  color: white;
  text-align: center;
  letter-spacing: .05rem;
  font-family: "Playfair Display", sans-serif;
}

.category .main .pG {
  background: url(../image/index/gd.jpg);
  background-size: cover;
}

.category .main .pW {
  background: url(../image/index/wb.jpg) 70%;
  background-size: cover;
}

.category .main .pP {
  background: url(../image/index/photo.jpg);
  background-size: cover;
}

.category .main .pI {
  background: url(../image/index/II.jpg);
  background-size: cover;
}

.category .cw {
  text-align: center;
}

.category .cw h4 {
  color: #C4C4C4;
}

@media screen and (max-width: 768px) {
  .category .main .pic {
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .category {
    margin: 50px 0;
  }
  .category .main {
    margin: 70px 0;
  }
  .category .main .pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 380px;
    height: 250px;
  }
  .category .main .pic p {
    font-size: 41.6px;
  }
  .category .main .pic img {
    width: 200%;
  }
  .category .cw {
    text-align: center;
  }
  .category .cw h4 {
    color: #C4C4C4;
  }
}

.secbanner {
  width: 100%;
  height: 640px;
  background-color: #c07a5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secbanner .info {
  text-align: center;
}

.secbanner .info h2, .secbanner .info h4, .secbanner .info p {
  color: white;
}

@media screen and (max-width: 768px) {
  .secbanner {
    height: 1000px;
  }
  .secbanner .info {
    margin: 0;
  }
  .secbanner .info h4 {
    margin-top: 20px;
  }
  .secbanner .info p {
    margin-top: 20px;
  }
  .secbanner .dots {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .secbanner {
    height: 800px;
  }
  .secbanner .info {
    margin: 0;
  }
  .secbanner .info h4 {
    margin-top: 20px;
  }
  .secbanner .info p {
    margin-top: 20px;
  }
  .secbanner .dots {
    margin-top: 20px;
  }
}

.footer .nav {
  border-bottom: 0px;
}

.footer .info {
  width: 100%;
  background: #c07a5c;
  text-align: center;
}

.footer .info P {
  color: white;
}

.projectBn {
  margin-top: 40px;
}

.projectBn .rectangle {
  height: 500px;
}

.project {
  position: relative;
  overflow: hidden;
}

.project .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 0;
}

.project .main .square {
  width: 60%;
}

.project .main .square .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .main .square .swiper-slide li {
  margin: 5px 0;
}

.project .main .square .c-w {
  color: white;
}

.project .main .info {
  width: 40%;
  margin: 0 30px;
}

.project .main .info p {
  color: #312f2f;
}

.project .main .info p span {
  color: #c07a5c;
}

@media screen and (max-widht: 768px) {
  .project .main .square {
    width: 80%;
    overflow: hidden;
  }
  .project .main .square .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .main .square .swiper-slide ul {
    height: 560px;
  }
  .project .main .square .swiper-slide ul li {
    margin: 5px 0;
  }
  .project .main .square .c-w {
    color: white;
  }
  .project .main .info {
    width: 40%;
    margin: 0 30px;
  }
}

@media screen and (max-width: 400px) {
  .project {
    position: relative;
    overflow: hidden;
  }
  .project .main {
    margin: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project .main .square {
    width: 100%;
    overflow: hidden;
  }
  .project .main .square .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .main .square .swiper-slide li {
    margin: 5px 0;
  }
  .project .main .square .swiper-slide li img {
    height: 100%;
  }
  .project .main .square .c-w {
    color: white;
  }
  .project .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.brownDots .box1 {
  position: absolute;
  top: -150px;
  left: 80px;
  width: 350px;
  height: 350px;
  background-color: #c07a5c;
  border-radius: 200px;
  z-index: -5;
  opacity: .7;
}

.brownDots .box2 {
  position: absolute;
  top: 400px;
  right: -20px;
  width: 250px;
  height: 250px;
  background-color: #c07a5c;
  border-radius: 200px;
  z-index: -5;
  opacity: .7;
}

.brownDots .box3 {
  position: absolute;
  top: 650px;
  left: -100px;
  width: 350px;
  height: 350px;
  background-color: #c07a5c;
  border-radius: 50%;
  z-index: -5;
  opacity: .7;
}

.brownDots .box4 {
  position: absolute;
  top: 1400px;
  right: -80px;
  width: 350px;
  height: 350px;
  background-color: #c07a5c;
  border-radius: 50%;
  z-index: -5;
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .brownDots .box1 {
    position: absolute;
    top: -150px;
    left: 80px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    opacity: .7;
  }
  .brownDots .box2 {
    top: 400px;
    right: -20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: .7;
  }
  .brownDots .box3 {
    top: 900px;
    left: -80px;
    width: 350px;
    height: 350px;
    opacity: .7;
  }
  .brownDots .box4 {
    top: 1400px;
    right: -80px;
    width: 350px;
    height: 350px;
    opacity: .7;
  }
}

.aboutPg .dots {
  width: 440px;
  height: 440px;
  border-radius: 50%;
}

.aboutPg .info {
  text-align: left;
  position: relative;
  right: 40px;
  z-index: 2;
}

.aboutPg .info h2 {
  color: #c07a5c;
}

.aboutPg .info p {
  margin-top: 30px;
  color: #312f2f;
}

.aboutinfo {
  width: 100%;
  margin: 150px 0 0 0;
}

.aboutinfo .pic {
  width: 60%;
  height: 300px;
  overflow: hidden;
}

.aboutinfo .pic img {
  background-size: cover;
  position: relative;
  bottom: 200px;
}

.aboutinfo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutinfo .container .info {
  margin-right: 40px;
}

.aboutinfo .container .info ul {
  margin-top: 20px;
}

.aboutinfo .container .info ul li {
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.4rem;
  color: #c07a5c;
  border-left: 0px;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .aboutPg .banner {
    margin: 80px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutPg .banner .dots {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    -webkit-box-shadow: 20px 10px 0 rgba(196, 196, 196, 0.3);
            box-shadow: 20px 10px 0 rgba(196, 196, 196, 0.3);
  }
  .aboutPg .banner .info {
    margin: 80px 0 50px 0;
    text-align: center;
    z-index: 2;
    right: 0;
  }
  .aboutPg .banner .info h2 {
    color: #c07a5c;
  }
  .aboutPg .banner .info p {
    margin-top: 30px;
    color: #312f2f;
  }
}

@media screen and (max-width: 400px) {
  .aboutPg .banner {
    left: 0;
    margin: 80px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutPg .banner .dots {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    -webkit-box-shadow: 20px 10px 0 rgba(196, 196, 196, 0.3);
            box-shadow: 20px 10px 0 rgba(196, 196, 196, 0.3);
  }
  .aboutPg .banner .info {
    margin: 80px 0 50px 0;
    text-align: center;
    z-index: 2;
    right: 0;
  }
  .aboutPg .banner .info h2 {
    color: #c07a5c;
  }
  .aboutPg .banner .info p {
    margin-top: 30px;
    color: #312f2f;
  }
}

@media screen and (max-width: 768px) {
  .aboutinfo {
    margin: 0;
  }
  .aboutinfo .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutinfo .container .info {
    margin-right: 0;
  }
  .aboutinfo .container .pic {
    width: 40%;
    height: 300px;
    background: url(../image/index/me3.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center center;
  }
  .aboutinfo .container .pic img {
    display: none;
    width: 200%;
  }
}

@media screen and (max-width: 400px) {
  .aboutinfo {
    margin: 0;
  }
  .aboutinfo .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutinfo .container .info {
    margin-right: 0;
  }
  .aboutinfo .container .pic {
    width: 100%;
    height: 300px;
    background: url(../image/index/me3.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center center;
  }
  .aboutinfo .container .pic img {
    display: none;
    width: 500%;
  }
}

.bio {
  overflow: hidden;
  margin: 90px 0;
}

.bio p {
  margin-bottom: 50px;
  color: #312f2f;
}

.leaf {
  position: absolute;
  right: -550px;
  top: -400px;
  z-index: -10;
  opacity: .2;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-animation-name: leafan;
          animation-name: leafan;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.two {
  right: -650px;
  top: -550px;
  z-index: -10;
  opacity: .3;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-name: leafan2;
          animation-name: leafan2;
}

.two img {
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

@media screen and (max-width: 768px) {
  .leaf {
    top: -550px;
  }
}

@-webkit-keyframes leafan {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}

@keyframes leafan {
  0% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}

@-webkit-keyframes leafan2 {
  0% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  40% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

@keyframes leafan2 {
  0% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  40% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}

@media screen and (max-width: 769px) {
  .d-s-none {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .d-ss-none {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .d-l-none {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */